{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>Réinitialisation du mot de passe</h1>
				{{ form_start(RequestPassForm) }}
				{{ form_row(RequestPassForm.email) }}
				<button type="submit" class="btn btn-primary my-3">Envoyer</button>
				{{ form_end(RequestPassForm) }}
			</div>
		</div>
	</section>

{% endblock %}
