{% extends 'base.html.twig' %}


{% block body %}

	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Bienvenue sur MaxiLeasing</h1>
				<p class="py-2" style="padding-left: 40px; font-size: 20px;">Chez MaxiLeasing, nous vous propons un service de location de voitures de qualité supérieur. Chaque produit est associé a une voiture imaginaire. Vous pourrez les louez pour une durée indéfini et à un prix exorbitant ! Alors n'attendez plus et venez louez votre futur bolide imaginaire ! (photo non contractuelle)</p>
			</div>
			{% for category in categories %}
			{% if category.parent == null %}
				<div class="col-12 mt-4">
					<h2 class="ms-2">{{ category.name }}</h2>
				</div>
			{% else %}
				<div class="col-md-4 col-6 mb-2 mb-sm-2 mb-md-2">
					<div class="card h-100 mb-5">
						<div class="card-body">
							<h5 class="card-title">{{ category.name }}</h5>
							<p class="card-subtitle">{{ category.description }}</p>
							<a href="{{ path('categories_list', {slug: category.slug}) }} " class="btn btn-primary d-flex align-self-baseline mb-3" style="position: absolute;
							bottom:   0;">Voir les produits</a>
						</div>
					</div>
					<a href="#"></a>
				</div>
			{% endif %}

		{% endfor %}
		</section>
	</main>

{% endblock %}


