<p>
	Bonjour
	{{ user.firstname }}
	{{ user.lastname }}
</p>

<p>
	Pour votre demande de réinitialisation de mot de passe, veuillez cliquez sur le lien suivant :
	<a href="{{ url|raw }}">{{ url|raw }}</a>
</p>
